<!DOCTYPE html>
<html lang="en">
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <link rel=icon type=image/ico href="{{ url_for('static', path='/icons/favicon.ico') }}">
</head>
<body>
    <h1>Reset password</h1>
<div id="app">
    <form action="/api/v1/auth/reset-password" method="post">
        New Password: <input type="password" name="new_password" required>
        <br>
        Confirm Password: <input type="password" name="confirm_password" required>
        <input type="hidden" name="token" value="{{ token }}">
        <input type="submit" value="Update password">
        </form>
</div>

</body>
</html>